@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700;900&family=Space+Grotesk:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    background: #0b0b0b;
  }

  body {
    overscroll-behavior: none;
    font-family: "Space Grotesk", sans-serif;
  }

  main > :first-child {
    margin-top: 0 !important;
  }

  main > :last-child {
    margin-bottom: 0 !important;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  * {
    scrollbar-width: none;
  }

  ::selection {
    background: #e11d48;
    color: #ffffff;
  }
}
